    <!-- Call to Action Start -->
    <div class="popup container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded p-3">
                <div class="bg-white rounded px-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow  fadeIn text-center" data-wow-delay="0.1s" style="background-color: #f7f7f7">
                            <img class="img-fluid rounded w-50" src="https://static-assets.propertyfinder.com/icons/account-benefits.svg" alt="">
                          <div class="mt-4">
                            <p>
                                View saved properties</p>
                            <p>Keep search history across devices</p>
                            <p>See which properties you have contacted</p>
                          </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <div class="mb-4">
                                <form>
                                    <div class="row g-3">
                                       
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                                <label for="Email">Email</label>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </form>
                            </div>
                            <a href="" class="btn btn-primary py-3 px-4 me-2 w-100">Continue</a>
                            <p class="text-center mt-3">By registering you accept our Terms & Conditions and our privacy policy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to Action End -->
