<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Navbar -->

    <!-- /.navbar -->
    <app-admin-navbar></app-admin-navbar>
    <!-- Main Sidebar Container -->

    <app-admin-sidebar></app-admin-sidebar>
    <router-outlet></router-outlet>
   
    <!-- /.content-wrapper -->
    <app-admin-footer></app-admin-footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
</body>
