<div class="container-xxl py-5">
    <div class="container">
      <div class="bg-light rounded p-3">
        <div
          class="bg-white rounded p-4"
          style="border: 1px dashed rgba(0, 185, 142, 0.3)"
        >
          <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn text-center" data-wow-delay="0.1s">
              <img
                class="img-fluid rounded w-50"
                src="https://static-assets.propertyfinder.com/icons/account-benefits.svg"
                alt=""
              />
              <div class="mt-4">
                <p>View saved properties</p>
                <p>Keep search history across devices</p>
                <p>See which properties you have contacted</p>
              </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
              <button class="col-12 facebook-login-btn mb-3" (click)="loginWithFacebook()"><i class="fab fa-facebook me-2" style="font-size: larger;"></i>Continue with Facebook</button>
              <div #googleButton></div>

              
              <div class="row d-flex justify-content-center mt-3">
                <div class="col-4">
                  <hr>
                </div>
                <div class="col-4 text-center">
                  <p>OR</p>
                </div>
                <div class="col-4">
                  <hr>
                </div>
              </div>
              <div class="mb-4">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="row g-3">
                 
  
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          placeholder="Email"
                          formControlName="userName"
                          [class.is-invalid]="submitted && loginForm.get('userName')?.errors"

                        />
                        <label for="Email">Email</label>
                        <span class="text-danger" *ngIf="submitted&&loginForm.get('userName')?.hasError('required')">
                          Email is required
                        </span>
                      </div>
                    </div>
  
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          placeholder="Password"
                          formControlName="password"
                          [class.is-invalid]="submitted && loginForm.get('password')?.errors"


                        />
                        <label for="Password">Password</label>
                        <span class="text-danger" *ngIf="submitted&&loginForm.get('userName')?.hasError('required')">
                          Password is required
                        </span>
                      </div>
                    </div>
                    <div class="form-floating" *ngIf="errorMessages.length>0">
                      <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                    </div>
                                  
                    <div
                      class="col-12 d-flex justify-content-between align-items-center"
                    >
                      <button type="submit" class="btn btn-primary px-4 me-2">Login</button>
                      <a (click)="OpenPopUp()" class="text-decoration-none"
                      style="cursor: pointer;" >Forgot Password?</a
                      >
                    </div>
               <div *ngIf="resendEmail">
                <p class="animated fadeIn mt-4 pb-2">Click here to resend email confirmation link in case you didn't recieved it</p>

                <a (click)="resendEmailConfirmationLink()" class="btn btn-primary px-4 me-2">Resend email confirmation</a>

               </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  