<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
    
         <!-- Navbar -->
   <app-admin-navbar></app-admin-navbar>
      <!-- Main Sidebar Container -->
   <app-admin-sidebar></app-admin-sidebar>
      <!-- Content Wrapper. Contains page content -->
   <app-admin-dashboard></app-admin-dashboard>
<router-outlet></router-outlet>
   
   <!-- footer -->
    <app-admin-footer></app-admin-footer>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
  
    
    </body>