<div class="container-xxl py-5" *ngIf="token && email">
  <div class="container">
    <div class="bg-light rounded p-3">
      <div
        class="bg-white rounded p-4"
        style="border: 1px dashed rgba(0, 185, 142, 0.3)"
      >
        <div class="row g-5 align-items-center">
          <div class="wow fadeIn" data-wow-delay="0.5s">
            <div class="mb-4 col-md-4 mx-auto">
              <form
                [formGroup]="resetPasswordForm"
                (ngSubmit)="resetPassword()"
              >
                <div class="row g-3">
                  <h1 class="mb-3 text-center">Change your password</h1>

                  <div class="col-12">
                    <div class="form-floating">
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Email"
                        formControlName="email"
                      />
                      <label for="Email">Email</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="New Password"
                        formControlName="newPassword"
                        [class.is-invalid]="
                          submitted &&
                          resetPasswordForm.get('newPassword')?.errors
                        "
                      />
                      <label for="New Password">New Password</label>
                    </div>
                    <span
                      class="text-danger"
                      *ngIf="
                        submitted &&
                        resetPasswordForm
                          .get('newPassword')
                          ?.hasError('required')
                      "
                    >
                      Password is required
                    </span>
                    <span
                      class="text-danger"
                      *ngIf="
                        (submitted &&
                          resetPasswordForm
                            .get('newPassword')
                            ?.hasError('minlength')) ||
                        (submitted &&
                          resetPasswordForm
                            .get('newPassword')
                            ?.hasError('maxlength'))
                      "
                    >
                      Password must be atleast 6,and maximum 15 characters"
                    </span>
                  </div>

                  <div
                    class="col-12 d-flex justify-content-center align-items-center"
                  >
                    <button type="submit" class="btn btn-primary px-4 me-2">
                      Update
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
