/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import 'ngx-toastr/toastr';


.facebook-login-btn {
    background-color: #3B5998; /* Facebook blue color */
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block; /* Ensures the button behaves like an inline element */
  }
  

  
  