<div class="container-xxl py-5">
  <div class="container">
    <div class="bg-light rounded p-3">
      <div
        class="bg-white rounded p-4"
        style="border: 1px dashed rgba(0, 185, 142, 0.3)"
      >
        <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeIn text-center" data-wow-delay="0.1s">
            <img
              class="img-fluid rounded w-50"
              src="https://static-assets.propertyfinder.com/icons/account-benefits.svg"
              alt=""
            />
            <div class="mt-4">
              <p>View saved properties</p>
              <p>Keep search history across devices</p>
              <p>See which properties you have contacted</p>
            </div>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <button
              class="col-12 facebook-login-btn mb-3"
              (click)="registerWithFacebook()"
            >
              <i class="fab fa-facebook me-2" style="font-size: larger"></i
              >Continue with Facebook
            </button>
            <!-- <button class="col-12 google-login-btn" (click)="registerWithGoogle()">
              <i class="fab fa-google me-2"></i> Continue with Google
            </button>  -->
            <div #googleButton></div>

            <div class="row d-flex justify-content-center mt-3">
              <div class="col-4">
                <hr />
              </div>
              <div class="col-4 text-center">
                <p>OR</p>
              </div>
              <div class="col-4">
                <hr />
              </div>
            </div>
            <div class="mb-4">
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="row g-3">
                  <div class="col-12">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="firstname"
                        placeholder="First Name"
                        formControlName="firstName"
                        [class.is-invalid]="
                          submitted && registerForm.get('firstName')?.errors
                        "
                      />
                      <label for="First Name">First Name</label>
                      <span
                        class="text-danger"
                        *ngIf="
                          submitted &&
                          registerForm.get('firstName')?.hasError('required')
                        "
                      >
                        First name is required
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="
                          (submitted &&
                            registerForm
                              .get('firstName')
                              ?.hasError('minlength')) ||
                          (submitted &&
                            registerForm
                              .get('firstName')
                              ?.hasError('maxlength'))
                        "
                      >
                        First name must be atleast 3,and maximum 15 characters"
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="
                          submitted &&
                          registerForm.get('firstName')?.hasError('pattern')
                        "
                      >
                        First name can't have numbers
                      </span>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="lastname"
                        placeholder="Last Name"
                        formControlName="lastName"
                        [class.is-invalid]="
                          submitted && registerForm.get('lastName')?.errors
                        "
                      />
                      <label for="Last Name">Last Name</label>
                      <span
                        class="text-danger"
                        *ngIf="
                          submitted &&
                          registerForm.get('lastName')?.hasError('required')
                        "
                      >
                        Last name is required
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="
                          (submitted &&
                            registerForm
                              .get('lastName')
                              ?.hasError('minlength')) ||
                          (submitted &&
                            registerForm.get('lastName')?.hasError('maxlength'))
                        "
                      >
                        Last name must be atleast 3,and maximum 15 characters"
                      </span>
                    </div>
                    <span
                      class="text-danger"
                      *ngIf="
                        submitted &&
                        registerForm.get('lastName')?.hasError('pattern')
                      "
                    >
                      Last name can't have numbers
                    </span>
                  </div>

                  <div class="col-12">
                    <div class="form-floating">
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Email"
                        formControlName="email"
                        [class.is-invalid]="
                          submitted && registerForm.get('email')?.errors
                        "
                      />
                      <label for="Email">Email</label>
                      <span
                        class="text-danger"
                        *ngIf="
                          submitted &&
                          registerForm.get('email')?.hasError('required')
                        "
                      >
                        Email is required
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="
                          submitted &&
                          registerForm.get('email')?.hasError('pattern')
                        "
                      >
                        Invalid email address
                      </span>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-floating">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                        formControlName="password"
                        [class.is-invalid]="
                          submitted && registerForm.get('password')?.errors
                        "
                      />
                      <label for="Password">Password</label>
                    </div>
                    <span
                      class="text-danger"
                      *ngIf="
                        submitted &&
                        registerForm.get('password')?.hasError('required')
                      "
                    >
                      Password is required
                    </span>
                    <span
                      class="text-danger"
                      *ngIf="
                        (submitted &&
                          registerForm
                            .get('password')
                            ?.hasError('minlength')) ||
                        (submitted &&
                          registerForm.get('password')?.hasError('maxlength'))
                      "
                    >
                      Password must be atleast 6,and maximum 15 characters"
                    </span>
                  </div>
                  <div class="form-floating" *ngIf="errorMessages.length > 0">
                    <app-validation-messages
                      [errorMessages]="errorMessages"
                    ></app-validation-messages>
                  </div>
                  <div>
                    <button
                      type="submit"
                      href=""
                      class="btn btn-primary px-4 w-100"
                    >
                      Create Account
                    </button>
                    <p class="text-center mt-3">
                      By registering you accept our Terms & Conditions and our
                      privacy policy.
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
